.body{
    background-color:#f0f9ff ;
}

.header{
    background-color: #ccfbf1;
    color: #0f766e;
    text-align: center;
    font-size: large;
}

.menu{
    text-align: center;
    background-color: #e0f2fe;
}
.menu a {
    text-decoration: none;
    color: #0369a1;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.menu a:hover {
    background-color: rgb(21, 107, 177);
    color: white;
}
.title{
    font-size: 26px;
    color: #155e75;
}
.text{
    font-size: 20px;
}
.colorText{
    font-size: 20px;
}
.colorText:hover{
    background-color: rgb(213, 213, 237);
    color: rgb(13, 23, 81);
}
.backgroundMain{
    background-color: white;
}

.footer{
    background-color: #0f756d;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}
